<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="ABP Commercial NuGet Source" value="https://nuget.abp.io/e7cba59a-1da1-4d5a-9b24-fded2271873c/v3/index.json" />
  </packageSources>
</configuration>