@page
@using Microsoft.Extensions.Localization
@using NotesModule.Localization
@using NotesModule.Web.Pages.NotesModule
@model NotesModule.Web.Pages.NotesModule.IndexModel
@inject IStringLocalizer<NotesModuleResource> L

@{
}
<h1>NotesModule</h1>
<p>@L["SamplePageMessage"]</p>
