@page
@using Microsoft.Extensions.Localization
@using NotesModule1.Localization
@using NotesModule1.Web.Pages.NotesModule1
@model NotesModule1.Web.Pages.NotesModule1.IndexModel
@inject IStringLocalizer<NotesModule1Resource> L

@{
}
<h1>NotesModule1</h1>
<p>@L["SamplePageMessage"]</p>
